/* Styles for the content section */
.content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 3%;
  }
  
  /* Styles for the paragraph inside the content section */
  .content-paragraph {
    margin-top: 3%;
    color: #343a40;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }
  
  /* Styles for the paragraph alignment */
  .align-center {
    text-align: center;
  }
  