.header-fixed {
  display: flex;
  background-color: #212224;
  box-shadow: 0 1px 1px #ccc;
  padding: 2.5vw 5vw;
  height: 10vh;
  color: #ffffff;
  box-sizing: border-box;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.header-limiter {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#Logo-Header {
  width: 12vw;
}

#header-button {
  background-color: #fc5b3f;
  color: white;
  border: none;
  padding: 1vw;
  border-radius: 1.33vw;
  cursor: pointer;
}

#header-button:hover {
  background-color: #000000;
}

#header-nav a {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.33vw;
}

#header-nav a:hover {
  color: #f73f1e;
}

.header-fixed .header-limiter {
  text-align: center;
}

.header-fixed-placeholder {
  height: 10vh;
  display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
  font: normal 2.22vw Cookie, Arial, Helvetica, sans-serif;
  line-height: 3.33vh;
  margin: 0;
}

.header-fixed .header-limiter h1 span {
  color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}

.header-fixed .header-limiter nav {
  font: 1.33vw Arial, Helvetica, sans-serif;
  line-height: 3.33vh;
}

.header-fixed .header-limiter nav a {
  display: inline-block;
  padding: 0 1vw;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover {
  opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
  padding: 0.56vw 5vw;
  height: 3.33vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

body.fixed .header-fixed-placeholder {
  display: block;
}

body.fixed .header-fixed .header-limiter h1 {
  font-size: 1.78vw;
  line-height: 2.22vh;
}

body.fixed .header-fixed .header-limiter nav {
  line-height: 2.67vh;
  font-size: 0.89vw;
}

/* Making the header responsive */

@media all and (max-width: 600px) {
  .header-fixed {
    padding: 2.5vw 0;
    height: 7.5vh;
  }

  #Logo-Header {
    margin: 3vw;

    width: 16vw;
  }
  #nodlt-sm {
    margin: 3vw;
  }
  #header-nav a {
    font-size: 2.5vw;
  }
  #dlt-sm {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
}
